* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  overflow:hidden;
}

html {
  overflow-x: hidden;
}

body {
  color: #2C2B3C;
  font-size: 100%;
  background-color: #fef0f9;
  font-family: Helvetica;
  color: inherit;
  text-decoration: none;
}

img {
  min-width: 100%;
}

.clearfix{
  clear: both;
  margin: 0;
  visibility: hidden;
  padding: 0;
}

.messageBox {
  height: 100vh;
  position: relative;
}

.messageList {
  width: 95%;
  margin: 0 auto;
  padding: 0.625em;
  list-style: none;
  overflow: scroll;
}

.messageForm {
  width: 100%;
  background-color: #eee;
  padding: 0.3125em;
  position: fixed;
  bottom: 0;
  left: 0;
}

.messageForm input {
  padding: 0.3125em;
  font-size: 16px;
  border: none;
  border-radius: 0;
  display: inline-block;
}

.messageForm input[type="text"]{
  width: 80%;
}

.messageForm input[type="submit"]{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 20%;
  color: #fafafa;
  background-color:#00ffd9;
  text-align: center;
  font-weight: bold;
  border-radius: 0;
}

.message {
  width: 80%;
  margin: 0 auto;
}

.btn-border {
  border: 2px solid #ccc;
  color: #ccc;
}

.btn-fill {
  background: #b9dddf;
  border: 2px solid #b9dddf ;
  color: #fff;
}

.btn {
  padding: 0.625em;
  display: inline-block;
  letter-spacing: 2px;
  font-weight: 600;
  text-decoration: none;
  box-shadow: none;
  margin-left: 0.625em;
  transition: 0.25s ease;
}

.btn-border:hover {
  color: #b9dddf;
  border: solid 2px #b9dddf;
}

.btn-fill:hover {
  background: #d9d9d9;
  border: 2px solid #d9d9d9 ;
}

.btn:hover {
  box-shadow: 2px 2px 0 #ccc;
}

a.btn {
  text-decoration: none;
}

/* MODIFIERS */

.active {
  color: #ccc;
}
