* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  overflow:hidden;
}

html {
  overflow-x: hidden;
}

body {
  color: #2C2B3C;
  font-size: 100%;
  background-color: #fef0f9;
  font-family: Helvetica;
  color: inherit;
  text-decoration: none;
}

img {
  min-width: 100%;
}

.clearfix{
  clear: both;
  margin: 0;
  visibility: hidden;
  padding: 0;
}

.box h1 {
  letter-spacing: 2px;
  font-size: 5em;
}

.box h2 {
  letter-spacing: 2px;
  margin-bottom: 0.625em
}

.box {
  transform: translateY(25%);
  color: #fff;
  background: #f7e7f2;
  text-align: center;
  margin: 0 auto;
  width: 40%;
  min-height: 50vh;
  border: solid 5px #fff;
  padding: 2.5em;
}

.box .btn-set {
  margin-top: 5em;
  display: block;
}

.btn-set .btn:first-of-type {
  margin-left: 0;
  margin-right: 0.625em;
}

.box form .btn-set {
  margin-top: 1.25em;
  margin-bottom: 1.25em;
}

.box form {
  width: 65%;
  margin: 0 auto;
  text-align: left;
}

.box form input[type="text"], .box form input[type="password"] {
  width: 100%;
  margin-top: 1.25em;
  padding: 0.625em;
  border: none;
  border-bottom: solid 2px #fff;
}

.box form input[type="text"]:focus, .box form input[type="password"]:focus {
  outline: none;
  border-bottom: solid 2px #b9dddf;
}

.messageBox {
  height: 100vh;
  position: relative;
}

.messageList {
  width: 95%;
  margin: 0 auto;
  padding: 0.625em;
  list-style: none;
  overflow: scroll;
}

.messageForm {
  width: 100%;
  background-color: #eee;
  padding: 0.3125em;
  position: fixed;
  bottom: 0;
  left: 0;
}

.messageForm input {
  padding: 0.3125em;
  font-size: 16px;
  border: none;
  border-radius: 0;
  display: inline-block;
}

.messageForm input[type="text"]{
  width: 80%;
}

.messageForm input[type="submit"]{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 20%;
  color: #fafafa;
  background-color:#00ffd9;
  text-align: center;
  font-weight: bold;
  border-radius: 0;
}

.message {
  width: 80%;
  margin: 0 auto;
}

.btn-border {
  border: 2px solid #fff;
  color: #fff;
}

.btn-fill {
  background: #b9dddf;
  border: 2px solid #b9dddf ;
  color: #fff;
}

.btn {
  font-size: 1em;
  padding: 0.625em;
  display: inline-block;
  letter-spacing: 2px;
  font-weight: 600;
  text-decoration: none;
  box-shadow: none;
  margin-left: 0.625em;
  transition: 0.25s ease;
}

.btn-border:hover {
  color: #b9dddf;
  border: solid 2px #b9dddf;
}

.btn-fill:hover {
  background: #fff;
  border: 2px solid #fff ;
  color: #f7e7f2;
}

.btn:hover {
  cursor: pointer;
}

a.btn {
  text-decoration: none;
}

a:hover {
  color: #b9dddf;
}

a {
  color: #dfb9d7;
}

/* MODIFIERS */

.active {
  color: #ccc;
}

.small-print {
  font-size: 0.625em;
}
