* {
  margin: 0;
  padding: 0;
  box-sizing:
  border-box;
}

body {
  font: 13px Helvetica, Arial;
}

.messageList {
  padding: 0;
  list-style: none;
}

.messageList li {
  margin: 0 auto;
  margin-top: 0.625em;
  padding: 0.625em 1.25em;
  width: 80%;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.messageList li:nth-child(odd){
  background: #c9f2ff;
}

.messageList li:nth-child(even){
  background-color: #facce3;
}

.messageForm {
  background: #dddddd;
  padding: 3px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

form input[type="text"] {
  border: 0;
  padding: 10px;
  width: 90%;
  margin-right: .5%;
}

form input[type="text"]:focus {
  outline: none;
}

form input[type="submit"] {
  width: 9%;
  color: #555;
  background-color: #a9fed2;
  border: none;
  padding: 10px;
}
